@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: rgba(233, 233, 233, 0.83);

  font-family: 'Lato', sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
} */

a,
button {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding: 30px;
  background: linear-gradient(
    90deg,
    rgb(24, 121, 201) 0%,
    rgb(0, 16, 156) 100%
  );

  font-weight: bolder;
  color: white;
}
nav img {
    margin-right: 15px;
    width: 50px
}

.container {
  display: flex;
  height: 100%;
}

aside {
    width: 250px;
    background-color: white;
    height: 100%;
    padding: 20px;
    float: left;
}
aside i {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: black;

  transition: 0.2s;
}
a:hover {
  margin-left: 10px;
  color: rgba(0, 113, 156, 1);
}

li {
  display: flex;
  align-items: center;
}

main {
  padding: 50px;
  width: 100%;

  box-shadow: 0 0 10px rgba(black, black, black, 0.5);
}

h1 {
  margin-bottom: 20px;

  font-weight: bolder;
}
/* h2 {
  margin-bottom: 10px;
} */
.form {
  background-color: white;
  padding: 20px;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.158);
  border-radius: 4px;
}

input {
  width: 30%;
  height: 50px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.642);
  color: #4a4a4a;

  outline-color: rgba(0, 113, 156, 1);
}

.error {
  color: rgba(255, 0, 0, 0.63);
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.error .material-icons {
  margin-right: 5px;
  font-size: 18px;
}

.controls {
  background-color: rgba(233, 233, 233, 0.751);

  height: 60px;
  padding: 20px;
  border-radius: 5px;

  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg {
  width: 85%;
}

.controls button {
  width: 90px;
  height: 40px;

  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  background-color: #47ab11;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 14px;

  transition: 0.3s;
}
.controls button:hover {
  background-color: #378f08;
}

.success {
  background-color: rgb(5, 251, 5);
}
.fail {
  background-color: rgb(255, 6, 6);
  color: white;
}

.dropdown {
  position: relative;
}

.select {
  color: #4a4a4a;
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.7em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);

  cursor: pointer;
  transition: 0.3s;

  outline-color: rgba(0, 113, 156, 1);
  outline-width: 1px;

  transition: 0.3s;
}

.select-clicked {
  border: 2px solid #26489a;
  box-shadow: 0 0 1px #000000;
}

.select:hover {
  background: #ececec;
}

.caret {
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid black;

  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.7em;
  border: 1px solid rgb(192, 192, 192);
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  color: black;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;

  transition: 0.2s;
}

.menu li:hover {
  background: rgb(221, 221, 221);
}

.active {
  background: rgb(241, 241, 241);
}

.menu-open {
  display: block;
  opacity: 1;
}
.h1{
    margin-left: 280px;
    margin-top: 20px;
}
.main{
    padding-left: 285px;
}

.row{
    float: left;
    
}
.inpw{
    width: 500px
}
.m{
    margin-left: 30px;
}
.mt{
    margin-top: 4px;
}
.mtop{
    margin-top: 20px;
}
.float{
    float:left
}
.wid{
    width: 100%;
}
.side{
    margin-top: 510px;
}
.type{
    margin-top: 290px;
}
.sbutton{
    background: blue;
    color: white;
    width: 65px;
    border-radius: 5px;
    height: 30px;
    margin-top: 130px;
    margin-left: -98px;
}
.tip{
    height: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(214, 214, 214);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 64%);
    color: #4a4a4a;
    outline-color: rgba(0, 113, 156, 1);
}
.user{
    margin-left: 300px;
    margin-top: 25px;
}
.userbut{
    background: blue;
    color: white;
    width: 85px;
    border-radius: 5px;
    height: 35px;
    float: right;
    margin-right: 55px;
    margin-top: -45px;
}
.usertable{
    display: flex;
    justify-content: center;
}
th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 40px;
    border-bottom: 1px solid gray;
  }
  table{
    border: 1px solid gray;
    border-collapse: collapse;
  }
  th{
    background-color: #dadada;
  }
  td{
    background-color: white;
  }
@media screen and (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
  }

  .controls {
    grid-column: span 1;
  }
}
